@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(62, 56, 114), rgb(15, 15, 77));
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #0d1634;
    padding: 1em 0;
    box-shadow:0 0 40px -10px #000;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 4.37rem;
    padding: 0.07rem;
}

.navbar a, #name {
    text-decoration: none;
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
}

.navbar a {
    font-size: 23px;
}

#name {
    font-size: 25px;
    margin: 0 70px;
}

.navbar a:hover {
    color: #ddd;
    text-decoration: underline;
}

@media (max-width: 1400px) {

    nav {
        padding: 0.3rem;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .navbar li {
        margin: 0 0.5rem;
        padding: 0.01rem;
    }

    .navbar a {
        font-size: 12px;
    }

    #name {
        margin: 20px 0;
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    padding: 2em;
    animation: fadeIn 1.5s ease-in-out;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    animation: slideIn 1.5s ease-in-out;
}

h1 {
    margin: 10px 20px 10px 0px;
    animation: popIn 1s ease-in-out;
}

@keyframes popIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.info {
    flex: 1;
    text-align: left;
    color: white;
    font-size: 2.5rem;
    margin-top: 2rem;
    text-shadow: 1px 1px 2px rgb(146, 137, 137), 0 0 5px blue, 0 0 10px rgb(163, 79, 170);
    font-family: "Rajdhani", sans-serif;
    animation: slideInLeft 1.5s ease-in-out; 
}

.info p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

#skills {
    font-size: 33px;
    margin-top: 20px;
    font-family: monospace;
    padding: 1px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid orange;
    animation: typing 4.5s steps(40, end), blink-caret 0.95s step-end infinite;
}

.quote{
    margin-top: 10px;
    font-family: monospace;
    padding: 1px;
    font-size: 25px;
    color: #c4b8b8;
    text-shadow: 2px 2px 5px rgba(7, 0, 10, 0.85);
    text-align: center;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.gif-video {
    flex: 1;
    text-align: right;
}

.gif-video img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 4rem;
    margin-top: 2rem;
    box-shadow: 10px 10px 20px rgba(0, 0.5, 0.5, 0.9);
}

button {
    color: white;
    background-color: orange;
    border: none;
    align-self: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.header {
    color: white;
    font-size: 1.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 100px;
    border: none;
    border-radius: 1.5rem;
    font-family: "Rajdhani", sans-serif;
    background-color: #162347;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 4px rgba(25, 24, 24, 0.9);
    animation: fadeIn 1.5s ease-in-out, slideIn 1.5s ease-in-out;
}

.contact-heading, .skills-heading {
    margin: 14px 0px;
}

.icons {
    margin: 5rem 5rem 6rem 5rem;
    animation: fadeIn 1.5s ease-in-out, slideIn 1.5s ease-in-out;
}

.icons img {
    margin: 1.5rem;
}

.hero-section {
    display: flex;
} 

#skills-heading {
    padding: 20px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    color: #333;
}

.skills-section {
    margin: 20px 0px 20px 70px;
    width: 35rem;
    display: block;
    animation: fadeIn 1.5s ease-in-out, slideIn 1.5s ease-in-out;
}

.skills-section h3 {
    color: #cfc5c5;
    margin: 2px 40px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.skills-section ul {
    list-style-type: none;
    padding: 0;
    width: 30rem;
}

.skills-section ul li {
    background-color: #afb5bb;
    padding: 10px;
    margin: 5px 40px;
    width: 30rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(136, 135, 135, 0.6);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.contact {
    background: rgba(21, 33, 71, 0.9);
    padding: 2rem 3rem;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(108, 107, 107, 0.9);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.contact-description {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #8a8484;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
}

.contact-info {
    font-size: 1.15rem;
}

.contact-info p {
    margin: 0.5rem 0;
    color: #9696a4;
}

.contact-info a {
    color: #afa8a7;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #7b7e1f;
}

.footer-container {
    max-width: 100rem;
    height: 8rem;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #0d1634;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container p {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}

.social-icons {
    margin: 10px 10px;
}

.social-icons a {
    color: #fff;
    margin: 10px 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ddd;
}

.heart {
    color: rgb(198, 32, 32);
}

/* Media Queries */
@media (max-width: 826px) {  
    .hero-content {
        flex-direction: column;
    }

    .info {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .gif-video img {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    button {
        margin: 1rem auto;
        width: fit-content;
    }

    .skills-section {
        width: auto;
        margin: 20px;
    }

    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skills-section ul li {
        background-color: #afb5bb;
        width: auto;
        margin: 5px 0;
        font-size: 11px;
        padding: 5px;
        width: 20rem;
    }

    .info {
        margin-top: 1rem;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .header {
        margin: 1rem;
    }

    .skills-heading{
        margin: 1px 0px;
    }

    .icons img {
        width: 45px;
        height: 45px;
        margin: 15px;
    }

    .icons {
        margin: 20px;
    }

    .hero {
        padding: 1em;
    }

    .skills-section h3{
        font-size: 20px;
        margin: 2px 0px;
    }

    .skills-section ul{
        font-size: 5px;
        width: 450px;
    }
}

@media (max-width: 1400px) {

    .info {
        font-size: 1.55rem;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    #skills {
        font-size: 20px;
    }

    #about {
        font-size: 18px;
    }
}

@media (max-width: 1100px){

    .hero-section {
        display: block;
        align-items: center;
    }
    
    .icons {
        margin: 1.7rem;
    }
} 


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideInLeft {
    from { transform: translateX(-50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
    from { transform: translateX(50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}
